<div class="d-flex align-items-center">
    <select #taskType class="form-select w-auto me-3" (change)="updateTaskType(taskType.value)">
        <option selected value="Hit the target">🎯</option>
        <option value="Get things done">⛳️</option>
    </select>
    <input #taskTitle class="form-control flex-grow-1 fs-5 border-0" [value]="task().title"
        (input)="updateTitle(taskTitle.value)" [attr.data-testid]="`task-input-${index()}`" />
    <div class="d-flex align-items-center ms-3">
        <select class="form-select w-auto me-3" #taskPomodoroCount
            (change)="updatePomodoroCount(taskPomodoroCount.value) ">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button class="btn btn-sm">⏸</button>
        <button class="btn btn-sm">⏸</button>
        <button class="btn btn-sm">⏸</button>
        <button class="btn btn-sm">⏸</button>
        <button class="btn btn-sm">⏸</button>
        <span class="mx-3 fs-5">0</span>
        <span>{{ task().statusEmoji }}</span>
    </div>
    <button class="btn btn-link text-muted ms-3" [attr.data-testid]="`task-remove-${index()}`"
        (click)="taskRemoved.emit()">
        <i class="bi bi-x fs-4"></i>
    </button>
  </div>  