<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <!-- Directive ngForm permettant de créer un formulaire Angular -->
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <!-- EMAIL -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            data-testid="email"
            #emailField="ngModel"
            [(ngModel)]="email"
            type="email"
            name="email"
            class="form-control"
            id="email"
            autocomplete="email"
            required
            email
            [class.is-invalid]="emailField.dirty && emailField.invalid"
          >
        </div>
        @if(emailField.dirty) {
          @if(emailField.hasError('required')) {
            <div class="form-text text-danger" data-testid="error-email-required">Email is required.</div>
          }
          @if(emailField.hasError('email')) {
            <div class="form-text text-danger" data-testid="error-email-pattern">Email must be valid.</div>
          }
        }
        <!-- PASSWORD -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input 
            data-testid="password"
            #passwordField="ngModel"
            [(ngModel)]="password"
            type="password"
            name="password"
            class="form-control" 
            id="password"
            autocomplete="new-password"
            required
            [class.is-invalid]="passwordField.dirty && passwordField.invalid"
          >
        </div>
        @if(passwordField.dirty && passwordField.hasError('required')) {
          <div class="form-text text-danger" data-testid="error-password-required">Password is required.</div>
        }
       
        <!-- SUBMIT -->
        <button 
          data-testid="submit-button" 
          type="submit" 
          class="btn btn-primary w-100 mt-3" 
          [disabled]="form.invalid"
          >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>