<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <!-- NAME -->
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input 
            #nameField="ngModel"
            [(ngModel)]="name"
            type="text"
            name="name" 
            class="form-control" 
            id="name"
            required
            minlength="3"
            maxlength="20"
            pattern="[a-zA-Z]+"
            [class.is-invalid]="nameField.dirty && nameField.invalid"
          >
        </div>
        @if(nameField.dirty && nameField.hasError('required')) {
        <div class="form-text text-danger">Name is required.</div>
        }
        <!-- EMAIL -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            #emailField="ngModel"
            [(ngModel)]="email"
            type="email"
            name="email"
            class="form-control"
            id="email"
            autocomplete="email"
            required
            [class.is-invalid]="emailField.dirty && emailField.invalid"
          >
        </div>
        <!-- PASSWORD -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input 
            #passwordField="ngModel"
            [(ngModel)]="password"
            type="password"
            name="password"
            class="form-control" 
            id="password"
            autocomplete="new-password"
            required
            [class.is-invalid]="passwordField.dirty && passwordField.invalid"
          >
        </div>
        <!-- CONFIRM PASSWORD -->
        <div class="mb-3">
          <label for="confirm-password" class="form-label">Confirm password</label>
          <input
            #confirmPasswordField="ngModel"
            [(ngModel)]="confirmPassword"
            type="password"
            name="confirmPassword"
            class="form-control"
            id="confirm-password"
            autocomplete="new-password"
            required
            [class.is-invalid]="confirmPasswordField.dirty && confirmPasswordField.invalid"
          >
        </div>
        <!-- SUBMIT -->
        <button type="submit" class="btn btn-primary w-100" [disabled]="signupForm.invalid &&isPasswordMatchValid">Submit</button>
      </form>
    </div>
  </div>
</div>
