<div class="container text-center mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Planifier sa semaine</h5>
          <i class="bi bi-calendar3 fs-1"></i>
          <p class="card-text">Visibilité sur les 7 prochains jours</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Atteindre ses objectifs</h5>
          <i class="bi bi-bullseye fs-1"></i>
          <p class="card-text">Priorisation des tâches</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Analyser sa productivité</h5>
          <i class="bi bi-bar-chart-line fs-1"></i>
          <p class="card-text">Visualiser le travail accompli</p>
        </div>
      </div>
    </div>
</div>
