<div class="sidebar d-flex flex-column h-100">
  <div class="menu flex-grow-1">
    <h6 class="p-3 text-muted">Menu</h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/app/dashboard" class="nav-link" routerLinkActive="active bg-light text-success fw-bold">
          <i class="bi bi-house-door-fill me-2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/app/planning" class="nav-link" routerLinkActive="active bg-light text-success fw-bold">
          <i class="bi bi-calendar-event-fill me-2"></i> Planning
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/app/workday" class="nav-link" routerLinkActive="active bg-light text-success fw-bold">
          <i class="bi bi-check2-square me-2"></i> Workday
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/app/profile" class="nav-link" routerLinkActive="active bg-light text-success fw-bold">
          <i class="bi bi-person-fill me-2"></i> Profile
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/app/settings" class="nav-link" routerLinkActive="active bg-light text-success fw-bold">
          <i class="bi bi-gear-fill me-2"></i> Settings
        </a>
      </li>
    </ul>
  </div>
</div>
