<div class="container my-5">
  <!-- Header avec date centrée et bouton à droite -->
  <div class="row align-items-center mb-4">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <h6 class="mb-2">Working Day</h6>
      <!-- Sélection de la date - Ecoute de l'évènement 'change'-->
      <input type="date" class="form-control" [value]="store.date()" (change)="store.updateDate($event)"/>
    </div>
    <div class="col-md-4 text-end mt-3 mt-md-0">
      <button class="btn btn-success rounded-pill px-4 py-2 fw-bold">
        Start the work day
      </button>
    </div>
  </div>

  <!-- Si aucune tâche n'est planifiée -->
  @if(store.hasNoTaskPlanned()) {
  <div class="text-center my-5" data-testid="inbox-zero-placeholder">
    <!-- Image et texte à afficher -->
    <img src="images/productivity-planner-inbox-zero.gif" alt="Inbox zero" class="img-fluid mx-auto" />
    <p class="mt-3 text-muted">Aucune tâche prévue pour aujourd'hui</p>
  </div>
  }

  <!-- Boucle sur les tâches à afficher -->
  @for(task of store.taskList(); track $index) {
    <!--Titre de la tâche -->
    @if($index === 0) {
      <h6 class="mb-3 text-muted">Most important task</h6>
    }
    @if($index === 1) {
      <h6 class="mb-3 text-muted">Tâches de seconde importance</h6>
    }
    @if($index === 2) {
      <h6 class="mb-3 text-muted">Tâches restantes</h6>
    }

    <!-- Tâche  -->
    <div class="card p-3 mb-3" [attr.data-testid]="`task-${$index}`">
      <div class="d-flex align-items-center">
        <!-- Sélection du type de tâche - Ecoute de l'évènement 'change'-->
        <select class="form-select w-auto me-3" (change)="store.updateTaskType($index, $event)">
          <option selected value="Get things done">⛳️</option>
          <option value="Hit the target">🎯</option>
        </select>
        <!-- Sélection du titre de la tâche - Ecoute de l'évènement 'input'-->
        <input class="form-control flex-grow-1 fs-5 border-0" [value]="task.title" (input)="store.updateTaskTitle($index, $event)" [attr.data-testid]="`task-input-${$index}`" />
        
        <!-- Timer controls -->
        <div class="d-flex align-items-center ms-3">
          <!-- Sélection du nombre de pomodoro affecté à la tâche - Ecoute de l'évènement 'change'-->
          <select class="form-select w-auto me-3" (change)="store.updateTaskPomodoroCount($index, $event)">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <button class="btn btn-sm">⏸</button>
          <button class="btn btn-sm">⏸</button>
          <button class="btn btn-sm">⏸</button>
          <button class="btn btn-sm">⏸</button>
          <button class="btn btn-sm">⏸</button>
          <span class="mx-3 fs-5">0</span>
          <span>🏁</span>
        </div>

        <!-- Ajout d'une icône 'X' pour supprimer une tâche -->
        <button class="btn btn-link text-muted ms-3" [attr.data-testid]="`task-remove-${$index}`" (click)="store.removeTask($index)">
          <i class="bi bi-x fs-4"></i>
        </button>
      </div>
    </div>  
  }

  <!-- Ajouter une tâche -->
  <div class="text-center">
    @if(store.isButtonDisplayed()) {
    <button data-testid="add-task-button" class="btn btn-link text-muted" (click)="store.onAddTask()">Ajouter une tâche</button>
    }
  </div>
</div>
